<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mis entregas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#" ng-click="logout()">Cerrar sesión</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#!/dashboard">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#!/dashboard_category">Categorias</a></li>
            <li><a href="#!/dashboard_recipes">Notas/Recibos</a></li>
            <li  class="active"><a href="#!/dashboard_slider">Deslizar</a></li>
            <li><a href="#!/dashboard_order">Ordenes</a></li>
            <li><a href="#!/dashboard_users">Usuarios</a></li>
          </ul>
         
        </div>
          <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Deslizar</h1>
            <div class="row" ng-controller="SlidCtrl">
       
   
    <div class="table-responsive" ng-show="addShowForm">
       
       <a  href="#!/dashboard_add_slider"> <button class="btn btn-success">Agregar</button></a>
       <table class="table table-striped" >
        <thead>
            <tr>
                
                <th>Nombre</th>
                
                <th>Descripción/th>
            </tr> 
           </thead>
           <tbody>
           <tr ng-repeat="sl in sls">
               <td>{{sl.title}}</td>
               <td>{{sl.description}}</td>
               
               <td><a class="btn btn-default" ng-click="ShowEditForm(sl)">Editar</a>
                   <a class="btn btn-danger" ng-click="removeSL(sl)">Eliminar</a>
               </td>
            </tr> 
           
           </tbody>
        
        </table>
         
    </div>
     <div class="col-md-5" ng-show="editShowForm">
    <h3>Editar deslizar</h3>
        <form ng-submit="editSl()">
  <div class="form-group">
    <label>Titulo</label>
    <input type="text" class="form-control" ng-model="title"  placeholder="Title" required>
  
  <label>Descripción</label>
    <input type="text" class="form-control" ng-model="description"  placeholder="Description" required>
  
        <label>Imagen</label>
    <input type="text" class="form-control" ng-model="image"  placeholder="Slider Image">
  </div>
  <button type="submit" class="btn btn-default">Agregar</button>
   <button class="btn btn-danger" ng-click="cancelSl()">Cancelar</button>        
</form>
    
     </div>

</div>

            
        </div>
              </div>
      </div>
    </div>




