<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mis entregas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#" ng-click="logout()">Cerrar sesión</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#!/dashboard">Resumen <span class="sr-only">(actual)</span></a></li>
            <li><a href="#!/dashboard_category">Categorias</a></li>
            <li><a href="#!/dashboard_recipes">Recibos</a></li>
            <li><a href="#!/dashboard_slider">Deslizar</a></li>
            <li  class="active"><a href="#!/dashboard_order">Ordenes</a></li>
            <li><a href="#!/dashboard_users">Usuarios</a></li>
          </ul>
         
        </div>
          <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Ordenes</h1>
            <div class="row" ng-controller="OrderCtrl">
       
   
    <div class="table-responsive" ng-show="addShowForm">
       <table class="table table-striped" >
        <thead>
            <tr>
               
                <th>Usuario</th>
                <th>Recibo</th>
                <th>Cantidad</th>
                <th>Estatus</th>
                <th>Acción</th>
            </tr> 
           </thead>
           <tbody>
           <tr ng-repeat="order in orders">
               <td>{{order.user_name}}</td>
               <td>{{order.product_name}}</td>
               <td>{{order.item_qty}}</td>
               <td>{{order.status}}</td>
               
               
                   <td><a class="btn btn-default" ng-click="ShowEditForm(order)">Detalles</a>
                   
               </td>
            </tr> 
           
           </tbody>
        
        </table>
         
    </div>
      <div class="table-responsive" ng-show="editShowForm">
          
<table class="table table-striped">
    <tr>
        <td>Hora del pedido</td>
        <td>{{time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
          <tr>
              
 <td>Nombre del producto</td>
    <td>{{product_name}}</td>
    </tr>
    
    <tr>
        <td>Cantidad de producto</td>
        <td>{{item_qty}}</td>
    </tr>
    
    <tr>
        <td>Método de pago</td>
        <td>{{payment}}</td>
    </tr>
    
    <tr>
        <td>Usuario</td>
        <td>{{name}}</td>
    </tr>
    
    <tr>
        <td>Dirección</td>
        <td>{{adress}}</td>
    </tr>
   <tr ng-repeat="add in addresses">
        <td>Teléfono</td>
        <td>{{add.phone}}</td>
    </tr>
    
    
    
    
    <tr>
        
        <td colspan="2">
            <center>
           <a class="btn btn-warning" ng-click="ConfirmedStatus('Confirmed')">Confirmado</a>
           <a class="btn btn-success" ng-click="DeliveredStatus('Delivered')">Entregado</a>
           <a class="btn btn-danger" ng-click="RefusedStatus('Refused')">Rechazado</a>
           
            </center>
        </td>
        
    </tr>
 
</table>
   
   
   
          
          
    
     </div>

</div>

            
        </div>
              </div>
      </div>
    </div>




